body {
  margin: 0;
  color: #6a6f8c;
  background: #c8c8c8;
  font: 600 16px/18px "Open Sans", sans-serif;
  font-family: "Cairo", sans-serif;
}
body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/assests/three.jpg);
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
.login-wrap {
  width: 100%;
  max-width: 525px;
  height: 770px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding-bottom: 50px;
  padding: 20px;
  border-radius: 10px;
}
.login-wrap::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(40, 57, 101, 0.9);
  z-index: -1;
  border-radius: 10px;
}
.login-html .tab {
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  padding-bottom: 30px;
}
.login-form .group {
  margin-bottom: 20px;
}
.login-form .group .label,
.login-form .group .input {
  width: 100%;
  color: #fff;
}
.login-form .group .input {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
  padding-right: 20px;
}
.login-form .group .button {
  background: #31c4f3;
  cursor: pointer;
  font-size: 17px;
  font-family: "Cairo", sans-serif;
  border: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  height: 40px;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
  font-size: 20px;
  font-weight: 500;
  font-family: "Cairo", sans-serif;
}
.login-form .group .button:hover {
  background-color: white;
}
input:focus {
  outline: 1px solid white;
}
.invalid {
  color: red;
}
.valid {
  color: green;
}
